.card {
  margin-top: 2rem;
  background-color: rgb(231, 235, 238) !important;
    /* width: 250px;
    height: 550px;
    display: flex;
    flex-direction: column;
    justify-content: space-around; */
  }
  .place{
    font-size: 1.4rem;
    /* color: #000 !important; */
  }
  .herberger{
    color: rgb(253, 252, 254);
    font-size: 1.5rem;
  }
  .side-icons{
    /* height: 35rem;
    width: 10rem; */
    /* background-color: rgb(17, 17, 17); */
  }
  
  label {
    width: max-content;
    color: tomato;
    font-size: 13px;
    border-bottom: 0.5px solid tomato;
    margin: 3px 0;
  }
  
  .desc {
    font-size: 14px;
  }
  
  .star {
    color: gold;
  }
  
  .username {
    font-size: 14px;
  }
  
  .date {
    font-size: 12px;
  }
  
  .formss {
    width: 350px;
    height: 280px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: rgb(88, 87, 87);
  }
  
  input {
    border: none;
    border-bottom: 1px solid gray;
  }
  
  input::placeholder,
  textarea::placeholder {
    font-size: 12px;
    color: rgb(185, 184, 184);
  }
  
  input:focus,
  textarea:focus,
  select:focus {
    outline: none;
  }
  
  textarea {
    border: none;
    border-bottom: 1px solid gray;
  }
  
  .submitButton {
    border: none;
    padding: 5px;
    border-radius: 5px;
    color: white;
    background-color: tomato;
    cursor: pointer;
  }
  
  .buttons,
  .logout {
    position: absolute;
    top: 10px;
    right: 10px;
  }
  
  .button {
    border: none;
    padding: 5px;
    border-radius: 5px;
    color: white;
    font-weight: 500;
    cursor: pointer;
  }
  
  .button:focus{
    outline: none;
  }
  
  